body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #82a5ca;
}

.hero {
    background-image: url('./images/galaxy.webp');
    background-size: cover;
}
.logo {
    width: 150px;
    margin-top: 4vh;
}

.title {
    margin: 0;
    font-size: 42px;
    padding-top: 17vh;
    text-shadow: 0 0 5px #000;
}

.btn {
    font-size: 22px;
    font-weight: bold;
    padding: 7px 15px;
    color: #82a5ca;
    cursor: pointer;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #fff;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

.tnc {
    font-size: 32px;
    margin-top: 10vh;
}

.underline {
    border-bottom: 5px solid #fff;
}
